body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#recipe-results {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;  /* Each recipe takes 30% of the width */
    box-sizing: border-box;
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.recipe h3 {
    font-size: 18px;
    margin: 0;
}

.recipe p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .recipe {
        width: 100%;
    }
}
